.tableStyle {
  border: 1px solid #666666;
}

.header {
  color: #000;
  background-color: #EBEBEB;
}
.evenRow {
  color: #000;
  background-color: #F0FFF0;
  /*font-size:14px;*/
  font-size: large;
  font-style: normal;
}

.oddRow {
  /*background-color: #CCCCFF;*/
  color: #000;
  background-color: #C1FFC1;
  font-size: large;
  font-style: normal;
}

.highlight{
  font-weight: bold;
  color: #357ebd;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../images/loading.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}