<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<display-name></display-name>


  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
    <param-value>ar</param-value>
  </context-param>

  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>com.maktashaf.taymiyyah.web.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Servlet mapping -->
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.maktashaf.taymiyyah.web.controller.HomeController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FullTextSearchController</servlet-name>
    <servlet-class>com.maktashaf.taymiyyah.web.controller.FullTextSearchController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FullTextSearchController</servlet-name>
    <url-pattern>/search/fulltext</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IdentitySearchController</servlet-name>
    <servlet-class>com.maktashaf.taymiyyah.web.controller.IdentitySearchController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentitySearchController</servlet-name>
    <url-pattern>/search/identity/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>
  <error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <!-- Unsupported servlet method -->
    <error-code>503</error-code>
    <location>/error.html</location>
  </error-page>

</web-app>
